{% extends 'base.html' %}

{% block body %}
  <table class="table table-striped">
    {% if albums %}
    <thead>
      <tr>
        <th>ID</th>
        <th>Artist</th>
        <th>Name</th>
        <th>Price</th>
        <th>Saved</th>
        <th>Sold</th>
        <th>Info</th>
      </tr>
    </thead>
    {% endif %}
    {% for album in albums %}
      {% if not album.saved or album.sold %}
        <tr>
          <td>{{album.id}}</td>
          <td>{{album.artist}}</td>
          <td>{{album.name}}</td>
          <td>{{album.price}}</td>
          <td>{{album.saved}}</td>
          <td>{{album.sold}}</td>
          <td>{{album.info}}</td>
        </tr>
      {% endif %}
    {% endfor %}
  </table>
{% endblock %}