{% extends 'base.html' %}

{% block body %}
  <table class="table table-striped">
    {% if albums %}
    <thead>
      <tr>
        <th>ID</th>
        <th>Artist</th>
        <th>Name</th>
        <th>Price</th>
        <th>Saved</th>
        <th>Sold</th>
        <th>Info</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    {% endif %}
    {% for album in albums %}
        <tr>
          <td>{{album.id}}</td>
          <td>{{album.artist}}</td>
          <td>{{album.name}}</td>
          <td>{{album.price}}</td>
          <td>{{album.saved}}</td>
          <td>{{album.sold}}</td>
          <td>{{album.info}}</td>
          <td>
            <form action="/edit_album/{{album.id}}" method="GET">
              <input type="submit" class="btn btn-primary" value="Edit" />
            </form>
          </td>
          <td>
            <form action="/delete_album/{{album.id}}" method="POST">
              <input type="submit" class="btn btn-danger" value="Delete" />
            </form>
          </td>
        </tr>
    {% endfor %}
  </table>
{% endblock %}